@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



.azeret-mono{
  font-family: "Azeret Mono", monospace;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* navbar design */

.navbar{

    display: flex;
    justify-content: space-around;
    padding: 38px 0px;
    align-items: center;

}

.navbar h1{
    color: rgba(13, 19, 33, 1);
    font-size: 28px;
    font-weight: 800;


}



.navbar button{
    color: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 1);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

/* banner design */

.banner{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 32px;
    text-align: center;
   
}

.banner img{
    width: 200px;
}


.banner h1{
    color: #1c1c1d;
    font-size: 48px;
}

.banner p{
    color: #494949;
    font-size: 16px;
}

.banner button{
    font-size: 20px;
    font: weight 600px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* development section design */



.development-section{
    background-color: rgb(243, 244, 245);
    width: 80%;
    padding: 24px 100px;
    margin: 50px auto;
    border-radius: 10px;
    padding: ;
}

.part-1{


text-align: center;


}

.part-1 h1{
    font-size: 32px;
    color: #1c1c1d;
    padding: 24px;

}

.part-1 p{
   
    color: #494949;
    font-size: 16px;

}

/* part-2 design */

.part-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 97px auto;
    
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    
}

.part-2 h1{

    font-size: 24px;
    color: #0D1321;

}

.part-2 p{
    font-size: 16px;
    color: #494949;
    padding: 20px 0px;
}

.part-2 button{
    font-size: 20px;
    color: rgb(59, 58, 58);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.inspire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    text-align: center;
}

.inspire h1{

    font-size: 32px;
    color: #0D1321;

}

.inspire p{
    font-size: 16px;
    color: #494949;
    padding: 20px 0px;
}

.target-1{
  
    width: 80%;
    margin: 0px auto;
    padding: 50px 0px;
}



.target-1>h1{

    font-size: 32px;
    color: #0D1321;
    text-align: center;

}

.target-1> p{
    font-size: 16px;
    color: #494949;
    padding: 20px 0px;
    text-align: center;
}

.target-1> div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 0px;
 
    
}

.target-1 div div{
    padding: 20px;
    border-radius: 10px;
}

.target-1 div div h1{

    font-size: 24px;
    font-weight: 800px;
    padding: 10px 0px;

}

.target-1 div div p{
    font-size: 16px;
    color: #494949;
}

.target-1 div div a{
    color: black;
    padding: 15px 0px;
    display: block;
}

/* target-2 design */


.target-2{
    width: 80%;
    margin: 0px auto;
}

.target-2>h1{
    text-align: center;
}
.target-2>p{
    text-align: center;
    padding: 16px;
    color: gray;
}

.target-2> div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}

.target-2 div div h1 {
    font-size: 24px;
    color: #302f2f;

}


.target-2 div div img {
    width: 100px;

}
.target-2 div div p {
    font-size: 16px;
    color: gray;
    padding: 10px 0px;

}

.target-2 div div a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 0px;

}


/* footer banner design */

.f-banner{
    width: 80%;
    margin: 50px auto;
    height:500px;
    background-image: 
  linear-gradient(rgba(13, 19, 33, 0.3)),url("assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
   
}
.f-banner h1{
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
}

.f-banner p{
    font-size: 16px;
    color: #ffffff;
    
}
.f-banner input{
    
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    
}

.f-banner label{
    
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    
}


footer{
    background-color: #e7e5e5;
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
}

